*{
    padding: 0%;
    margin: 0%;
}

main >section p{
    width: 80%;
    text-align: center;

}
section {
    background-color: blue;
    color: white;
    font-weight: bold;
}

#reactId {
    background-color: blueviolet;
}
