* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  width: 80%;
  margin-left: 10%;
  padding: 20px;
  border: 0px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 , nav , article {
  width : 90%;
  margin-bottom: 20px;
  border: 1px solid gray;
}

nav {
  padding: 40px;
}

article {
  padding: 20px;
  background-color: aliceblue;
}

h1 { 
  height: 80px;
  padding: 20px;
  background-color: black;
  color : white;
  font-weight: bold;
  text-align: center;
}

/* ol > li  */
nav li {
  padding: 5px 15px;
  margin-left: 10px;
  margin-bottom: 5px;
  border: 1px dotted gray;
}

nav li:hover {
  background-color: beige;
}

article {
  display: flex;
  justify-content: end;
}

article li {
  display: inline-flex;
  padding: 10px;
  background-color:dodgerblue;
  color: white;
  border-radius: 5px;
}

article li:hover, #bt1:hover {
  background-color:brown;
}

#bt1 {
  background-color: green;
}

ul > li, ol > li {
  list-style: none;
}

a {
  text-decoration: none;
}

article a:link , article a:visited, article a:hover {
  color: white;
}