header {
  width : 90% ;
  height: 100px;
  padding: 10px;
  background-color: black;
  color : white;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

header > h1 {
  width: 80%; 
  height: 100%;
  border: none; 
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width : 90% ;
  height: 400px;
  border: 1px dotted gainsboro;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: large;
  padding-right: 10px;
}
header > a:link, header > a:visited, header > a:hover {
  color : white;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  margin: 5px;

  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color:brown;
  color: white;
}

input[type=text] {
  height: 40px;
  margin-right: 10px; 

  text-align: center;
}

#msg {
  margin-bottom: 20px;
  font-size: large;
  font-weight: bold;
  color: brown;
}

#msg > span {
  font-size: xx-large;
  font-weight: bold;
  color: blueviolet;
}