#msgLotto > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 5px;

  border-radius: 50%;
  font-size: 15px;

  margin-bottom: 40px;
}

#spplus {
  color: black;
  font-weight: bold;
  font-size: xx-large;
}

.sp0 {
  background-color: brown;
  color: white;
}

.sp1 {
  background-color: darkgoldenrod;
  color: white;
}

.sp2 {
  background-color: cadetblue;
  color: white;
}

.sp3 {
  background-color: darkmagenta;
  color: white;
}

.sp4 {
  background-color: indigo;
  color: white;
}