form {
    width: 90%; /*너비의 90%를 차지하도록 설정*/
    height: 100px;
    /* background-color:aqua; */

    /*Flexbox를 활성화*/
    display: flex; /* 폼 내부 요소들을 Flexbox 레이아웃으로 배치*/

    /*내부 요소를 가로, 세로 모두 중앙으로 정렬하기*/
    justify-content: center; /*내부 요소들을 가로 방향 중앙 정렬*/
    align-items: center; /*내부 요소들을 세로 방향 중앙 정렬*/
    flex-direction : column; /*내부 요소들을 세로(column) 방향으로 정렬 */

    /* flex-direction: column;을 설정하지 않으면 기본값이 row라서 
    요소들이 가로로. 세로로 배치하려면 column을 지정해야 합니다. 
    Flexbox는 부모 요소가 자식 요소들을 정렬하는 방식.*/

};

form > div {
    /* form 내부의 <div> 요소에 20px의 여백(바깥쪽 간격) 추가 */
    margin: 20px;
    /*form 내부의 <div> 요소가 부모 요소(form)의 90% 너비를 차지하도록 설정*/
    width: 90%;
    /* div 내부 요소들도 Flexbox 레이아웃 적용 */
    display: flex;
    /*내부 요소들을 가로 방향 중앙 정렬*/
    justify-content: center;

    /* form 내부의 <div> 안에 있는 요소들이 가로 중앙 정렬됩니다. 
    align-items: center;가 없기 때문에 세로 정렬은 적용되지 않습니다. */

};